/* Apartado (Código) para la tabla de resultados. */
body {
    background: #dbf5cf; 
}
  
.titResu {
    text-align: center !important;
    vertical-align: middle !important;
}

.titIns {
    text-align: center !important;
    vertical-align: middle !important;
}

.button1 {
    background-color: #ffffff;
    color: #208a29;
}

.button2 {
    background-color: #208a29;
    color: #ffffff;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------------------------------------- */
